streamlit==1.43.2
torch==2.6.0
lancedb==0.21.1
numpy==2.2.4
pandas==2.2.3
openai==1.66.2
python-dotenv==1.0.1
PyMuPDF==1.25.3
streamlit-pdf-viewer==0.0.21
docling==2.26.0
docling-core==2.22.0
docling-ibm-models==3.4.1
docling-parse==3.4.0
tiktoken==0.9.0
transformers==4.49.0
requests==2.32.3
pyarrow==19.0.1
pydantic==2.10.6
typing_extensions==4.12.2
